@font-face {
    font-family:Avalon;
    src: url(../font/OrganicalPersonalUseBoldItalic-2O6xe.ttf);
  }

@font-face {
    font-family:style;
    src: url(../font/BodoniFLF-Bold.ttf);
  }




  @font-face {
    font-family: Avalon1;
    src: url(../font/Avalon.ttf);
  } 

  h2{
	display: inherit;
	font-family: 'Times New Roman', Times, serif;
    color: white;
	font-size: 70px;
}

.top{
    font-family:'Times New Roman', Times, serif;
    color: #056888;
    font-size: 35px;

}

.top1{
    font-family:'Times New Roman', Times, serif;
    color: #8a057a;
    font-size: 35px;
}

.a1{
	font-family: Avalon1;
    color: white;
	font-size: 20px;
	}
.a2{
	font-family: Avalon1;
    color: white;
	font-size: 15px;
	}
.a3{
	font-family: Avalon1;
    background:linear-gradient(to left top,#3cee42 0%, #bbabab 75%, #7358ea 100%);
	font-size: 15px;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	}
	
.container{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:linear-gradient(to left top,#e9e4ea 0%, #45e1b2 75%, #f3f7f3 100%);
	margin:auto;
	border-radius:50px;
	max-width:525px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn{
	font-size: 20px;
	border: none;
	text-align:center;
	transition:0.5s;
	background-size:200% auto;
	color:white;
	box-shadow:0 0 20px #ee;
	border-radius:10px;
	width:100%;
	cursor:pointer;
	display: inline-block;
	border-radius:25px
}

.btn-1{
	float:center;
	padding: 10px 20px;
	background-image:linear-gradient(to right,#e99c53 0%, #d498e7 51%, #56f7c4 100%)

}
.btn-1:hover{
	background-position:right center;
}

  
  

  
