@font-face {
    font-family:Avalon;
    src: url(../font/OrganicalPersonalUseBoldItalic-2O6xe.ttf);
  }

@font-face {
    font-family:style;
    src: url(../font/BodoniFLF-Bold.ttf);
  }

  @font-face {
    font-family:pic;
    src: url(../font/SecularOne-Regular.ttf);
  }

  @font-face {
    font-family:price;
    src: url(../font/Cardo-Regular.ttf);
  }
  @font-face {
    font-family:top;
    src: url(../font/Arvo-Bold.ttf);
  }
img{
    width:min-content;
    position: relative;
    float: inline-start;
    position: fixed;
}

.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 20px;
    margin-left: 20px;
}
 .col-3 img{
    width: 70%;
    margin-left: 65px;
 } 
.small-container{
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}.col-4{
    flex-basis:25%;
    padding: 10px;
    min-width: 100px;
    margin-bottom: 50px;
    transition: transform 0.45s;
}
.col-4 img{
    width: 100%;
 }
.title{
    text-align: center;
    margin: auto 80px;
    position: relative;
    line-height: 60px;
    color: #1e2b20;
    font-family: top;
    font-size: 35px;
}

.title::after{
    content: " ";
    background: #bd07ea;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.h4{
    color: #555;
    font-family: pic;
    font-weight: normal;
    font-size: large;
}


.col-4-p{
    font-size: 15px;
}
.rating{
    color: #12a0c7;
}

.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#3f055a);
    margin-top: 80px;
    padding: 30px 0;
    margin-bottom: 20px;
}
.offfer-img{
    margin-left: 50px;
    width: 50%;
}
.col-2 .offfer-img{
    padding: 50px;
    
}
.btn{
    float:center;
    padding: 10px 20px;
    background-image:linear-gradient(to right,#fa6d01 0%, #9ae4af 51%, #0deedf 100%)
}

.small{
    color: #555;
}

.p{
    font-family: price;
}


.btn1{
    text-align: center;
    width: 120px;
    background-image: none;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
    display: inline-block;
    background-size: 200%;
    font-weight: bold;


}

.btn2{
    padding: 15px 20px;
    background-image:linear-gradient(to right,#0182fa 0%, #9601fa 51%, #1af13e 100%)
    
    

}
body{
    width: auto;
    height: 100px;
    background-color: #1e2b20;
}

.head{
	color: rgb(244, 239, 239);
	font-size: 120px;
}

.head1{
	color: red;
	font-size: 80px;
    font-family:Style;
    margin-left: 450px;
}

.head2{
	color: rgb(243, 231, 231);
	font-size: 20px;
    margin-left: 450px;
    border: 5px solid;
    border-color: antiquewhite;
    border-radius: 20px;
    width: 400px;
}
