

@font-face {
    font-family:style;
    src: url(../font/BodoniFLF-Bold.ttf);
  }
  .container{
    width:100%;
    height:100%;
    position:absolute;
    padding:70px 70px 50px 70px;
    background:linear-gradient(to right bottom,#17d9d9 0%, #9e9ba2 45%, #e4e14c 100%);
    margin:auto;
    border-radius:50px;
    max-width:725px;
    min-height:670px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

h1{
    font-size: 70px;
    font-family:Avolan;
    color: rgb(248, 245, 245);
}

h2{
    font-size: 30px;
    font-family:Avolan;
    color: aliceblue;
}

img{
    width: 150px;
}

.column{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    position: relative;
    margin-top: -120px;
}

.box{
    width:100%;
    height:100%;
    position:absolute;
    padding:10px 10px 60px 40px;
    background:linear-gradient(to right bottom,#02cb77 0%, #d0cdcd 45%, #ca47fa 100%);
    margin:auto;
    border-radius:50px;
    max-width:700px;
    min-height:70px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.store{
    
    margin-left:25px;
    color: #111212;
    border-radius: 10px;
    background-color: #b6ee0d;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: aliceblue;
    box-shadow: #dfeaea;
}